{{define "subject"}}Добро пожаловать!{{end}}
{{define "plainBody"}}
Здравствуйте,

Вы зарегистрировались в DocsVision. Мы рады приветствовать вас!

Если вы действительно зарегистрировались, пожалуйста, перейдите по ссылке ниже, чтобы подтвердить свой адрес электронной почты:

{{.activationURL}}

Пожалуйста, обратите внимание, что эта ссылка одноразовая и истекает через 3 дня.

(Если вы этого не делали игнорируйте это письмо.)

С уважением,
DocsVision
{{end}}
{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Здравствуйте,</p>
        <p>Вы зарегистрировались в DocsVision. Мы рады приветствовать вас!</p>
        <p>Если вы действительно зарегистрировались, пожалуйста, перейдите по ссылке ниже, чтобы подтвердить свой адрес электронной почты:</p>
        <pre><code>
            <a href="{{.activationURL}}">{{.activationURL}}</a>
        </code></pre>
        <p>Пожалуйста, обратите внимание, что эта ссылка одноразовая и истекает через 3 дня.</p>
        <p>(Если вы этого не делали игнорируйте это письмо.)</p>
        <p>С уважением,</p>
        <p>DocsVision</p>
    </body>
</html>
{{end}}